{% extends 'main_app/base.html' %}
{% load static %}
{% block page_title %}{{page_title}}{% endblock page_title %}
{% block custom_css %}
<style>
.attendance_div_red{
    padding: 10px;
    background: #f44336;
    border: 3px solid white;
    text-align: center;
    color: #fff;
    border-radius: 30px;
    box-shadow: 1px 1px 1px grey;
    margin: 5px;
}
.attendance_div_green{
    padding: 10px;
    background: #4CAF50;
    border: 3px solid white;
    text-align: center;
    color: #fff;
    border-radius: 30px;
    box-shadow: 1px 1px 1px grey;
    margin: 5px;
}
</style>
{% endblock custom_css %}

{% block content %}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <!-- <div class="card-header"> -->
                        <!-- <h3 class="card-title">{{page_title}}</h3> -->
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <div class="card-body">
<div class="card shadow-sm">

    <div class="card-body text-center">

        <h3 class="mb-4">Today's Attendance</h3>

        <div id="today_status"></div>

        <div class="mt-4">

            <button class="btn btn-success"
                    id="mark_attendance">
                📍 Check In
            </button>

            <button class="btn btn-danger"
                    id="check_out"
                    style="display:none;">
                🚪 Check Out
            </button>

        </div>

        <div class="mt-3">
            <span id="attendance_status"></span>
        </div>

    </div>

</div>

<br>



<hr>



                        
                     <hr>

<div class="card mt-3">

    <div class="card-header">
        <h4 class="mb-0">Attendance History</h4>
    </div>

    <div class="card-body">


        <div class="table-responsive">

            <table class="table table-bordered table-striped table-hover">

                <thead class="thead-dark">
                    <tr>
                        <th>Date</th>
                        <th>Check In</th>
                        <th>Check Out</th>
                        <th>Status</th>
                        <th>Marked By</th>
                    </tr>
                </thead>

                <tbody id="attendance_data">
                </tbody>

            </table>

        </div>

    </div>

</div>

    

</div>
</section>
{% endblock content %}


{% block custom_js %}
<script>
$(document).ready(function () {

    // ================= Fetch Attendance =================

    function loadAttendanceHistory() {

    $.ajax({

        url: "{% url 'employee_view_attendance' %}",

        type: "POST",

        success: function(response){

            var json_data = JSON.parse(response);

            var html = "";

            if(json_data.length == 0){

                html = "<tr><td colspan='5' class='text-center'>No Attendance Found</td></tr>";

            }else{

                for(var key in json_data){

                    html += "<tr>";

                    html += "<td>"+json_data[key].date+"</td>";
                    html += "<td>"+json_data[key].check_in+"</td>";
                    html += "<td>"+json_data[key].check_out+"</td>";
                    html += "<td>"+json_data[key].status+"</td>";
                    html += "<td>"+json_data[key].marked_by+"</td>";

                    html += "</tr>";
                }

            }

            $("#attendance_data").html(html);

        },

        error:function(){

            $("#attendance_data").html(
                "<tr><td colspan='5'>Unable to Load Attendance</td></tr>"
            );

        }

    });

}

loadAttendanceHistory();
function loadTodayStatus(){

    $.ajax({

        url: "{% url 'attendance_status' %}",

        type: "POST",

        success:function(response){

            if(!response.checked_in){

                $("#mark_attendance").show();
                $("#check_out").hide();

                $("#today_status").html(
"<div class='attendance_div_red'>Today's attendance is not marked.</div>"                );

            }

            else if(response.checked_in && !response.checked_out){

                $("#mark_attendance").hide();
                $("#check_out").show();

               $("#today_status").html(`
    <div class="card border-success shadow-sm mx-auto" style="max-width:350px;">
        <div class="card-body text-center">
            <h5 class="text-success mb-2">
                <i class="fa fa-check-circle"></i> Checked In
            </h5>
            <h4>${response.check_in}</h4>
        </div>
    </div>
`);
            }

            else{

                $("#mark_attendance").hide();
                $("#check_out").hide();

 $("#today_status").html(`
    <div class="card border-success shadow-sm mx-auto" style="max-width:400px;">
        <div class="card-body text-center">
            <h5 class="text-success mb-3">
                <i class="fa fa-check-circle"></i> Attendance Completed
            </h5>

            <p><strong>Check In:</strong> ${response.check_in}</p>

            <p><strong>Check Out:</strong> ${response.check_out}</p>
        </div>
    </div>
`);
            }

        }

    });

}

loadTodayStatus();


    // ================= Mark Attendance =================

    $("#mark_attendance").click(function () {

        if (!navigator.geolocation) {
            alert("Your browser doesn't support Location.");
            return;
        }

        $("#attendance_status").html("<b>Getting your location...</b>");

        navigator.geolocation.getCurrentPosition(

            function(position){

                $.ajax({

                    url: "{% url 'mark_attendance' %}",

                    type: "POST",

                    data: {

                        latitude: position.coords.latitude,
                        longitude: position.coords.longitude

                    },

                    success:function(response){

                       if(response.status){

    $("#attendance_status").html(
        "<span class='text-success'><b>"+response.message+"</b></span>"
    );

     window.location.reload();


}else{

    $("#attendance_status").html(
        "<span class='text-danger'><b>"+response.message+"</b></span>"
    );

}

                        

                    },

                    error:function(){

                        $("#attendance_status").html(
                            "<span class='text-danger'><b>Server Error</b></span>"
                        );

                    }

                });

            },

            function(){

                alert("Location Permission Denied.");

            }

        );

    });

});
$("#check_out").click(function () {

    $.ajax({

        url: "{% url 'check_out' %}",

        type: "POST",

        success: function(response){

            if(response.status){

    $("#attendance_status").html(
        "<span class='text-success'><b>"+response.message+"</b></span>"
    );

     window.location.reload();

}else{

                $("#attendance_status").html(
                    "<span class='text-danger'><b>"+response.message+"</b></span>"
                );

            }

        },

        error:function(){

            $("#attendance_status").html(
                "<span class='text-danger'><b>Server Error</b></span>"
            );

        }

    });

});
</script>
{% endblock custom_js %}
